*{
  font-family: Cambria;
  box-sizing: border-box;
}
h1{
  background-color: #2B7A78;
  color:snow;
  text-align: center;
  padding:20px;
}
h3{
  font-size: 20px;
}
.contact{
  box-shadow: 0.5px 0.5px 5px 2px;
  padding: 15px;
  padding-top: 0%;
  padding-bottom: 2%;
  background-color: #DEF2F1;
  color:#2B7A78;
}
.payment{
  box-shadow: 0.5px 0.5px 5px 2px;
  padding: 15px;
  padding-top: 0%;
  padding-bottom: 2%;
  background:#DEF2F1;
  color:#2B7A78;
}
